<p id="notice"><%= notice %></p>

<h1>Listing News</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Subtitle</th>
      <th>Content</th>
      <th>Published</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="list-news">
    <% @news.each do |news| %>
      <%= render news %>
    <% end %>
  </tbody>
</table>

<%= will_paginate @news, renderer: WillPaginateInfinite::InfinitePagination %>


<br>

<%= link_to 'New News', new_news_path %>
